.footer-main{
    background-color: #ffffff !important;
}

footer {
  font-family: 'Arial', sans-serif;
  color: #fff;
  width: 100%;
  padding: 0;
}

.footer-bottom {
  background: linear-gradient(to bottom right, #000b1a 40%, #011d45 60%);
  color: #dddddd;
  padding: 3rem 15px 0 25px !important;
}

.footer-brand h1 {
  font-size: 50px;
  font-weight: bold;
}

.footer-address p,
.footer-contact p {
  font-size: 14px;
  line-height: 1.5;
}

.footer-social .social-icons {
  display: flex;
  gap: 12px;
  margin-top: 10px;
}

.footer-social .social-icons a {
  color: #dddddd;
  font-size: 22px;
  width: 40px;
  height: 39px;
  transition: color 0.3s ease, transform 0.3s ease;
  padding: 5px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-social .social-icons a:hover {
  color: #0a2a4d;
  transform: scale(1.2);
  background-color: rgb(255, 248, 248);
}

.footer-bottom-nav {
  background: transparent;
  padding: 20px;
  margin-top: 40px;
  text-align: left;
}

.footer-bottom-nav .nav-links {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px;
  font-size: 14px;
}

.footer-logo {
  width: 100px !important;
  height: auto !important;
}
.footer-logo img {
  width: 100% !important;
  height: 100% !important;
}

@media (max-width: 768px) {
  .footer-brand h1 {
    font-size: 36px;
  }
  .footer-social .social-icons {
    justify-content: center;
  }
  .footer-bottom-nav {
    padding: 15px;
  }
  .footer-bottom-nav .nav-links {
    gap: 10px;
  }
}
